body{
    margin: 0px;
}

.login-cabecalho{
    display: flex;
    height: 915px;

}

.login-ld-esquerdo{
    background-image: url("./imagens/login\ buldog.png");
    width: 700px;
    height: 915px;
    background-size: cover;
}

.login-ld-esquerdo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;   
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;
    font-size: 30px;
    margin-left: 280px;
    margin-top: 0px;
    font-weight: normal;
}

.login-ld-direito{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: bold;
}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 50px;
    width: 55%;
    border-radius: 70px;
    color:black;
    cursor: pointer;
    margin-left: 160px;
    font-weight: normal;
    font-size: 20px;
}

.apple{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 50px;
    width: 55%;
    border-radius: 70px;
    color:black;
    cursor: pointer;
    margin-left: 160px;
    font-weight: normal;
    font-size: 20px;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 50px;
    width: 55%;
    border-radius: 70px;
    color:black;
    cursor: pointer;
    margin-left: 160px;
    font-weight: normal;
    font-size: 20px;
}
