body{
    margin: 0px;
}

.login-cabecalho{
    display: flex;
    height: 915px;

}

.login-ld-esquerdo{
    background-image: url("./imagens/login\ buldog.png");
    width: 700px;
    height: 915px;
    background-size: cover;
}

.login-ld-esquerdo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;   
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 300px;
    font-size: 30px;
    margin-left: 280px;
    margin-top: 0px;
    font-weight: normal;
}

.login-ld-direito{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: bold;
}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 50px;
    width: 55%;
    border-radius: 70px;
    color:black;
    cursor: pointer;
    margin-left: 160px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 90px;
}

.apple{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 50px;
    width: 55%;
    border-radius: 70px;
    color:black;
    cursor: pointer;
    margin-left: 160px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 15px;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 50px;
    width: 55%;
    border-radius: 70px;
    color:black;
    cursor: pointer;
    margin-left: 160px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 15px;
}

.google img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
}

.apple img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
}

.email img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
}

.google p{
    margin-right: 60px;
}

.apple p{
    margin-right: 70px;
}

.email p{
    margin-right: 60px;
}

.login-ld-direito p{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:normal;
    margin-right: 40px;
}

.login-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 7, 56);
    height: 40px;
    /* width: 500px; */
    border-radius: 70px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* margin-left: 140px; */
    /* margin-top: 255px; */
    margin:170px 300px 0px 300px;
    text-decoration: none;
}

.login-bot p{
    font-size: 25px;
    margin-left: 40px;
}