@font-face{
    font-family: 'Kaushan';
    src: url('./fontes/KaushanScript-Regular.ttf');
}
body{
    margin: 0px;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: rgb(12, 7, 56);
    color:white;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
}

#cabecalho h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#cabecalho p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(60, 29, 131);
    text-decoration: underline overline;
    cursor: pointer;
}

.pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input{
    height: 100%;
    width: 50%;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.titulo-card p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 140px;
}

.card-grupo{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card-pet{
    width: 300px;
    height: 400px;
    border-radius: 34px;
    background-size: cover;
}


.card-pet p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 20px;
    padding-top: 280px;
}

.card-pet:hover{
    box-shadow: 17px 11px 45px -2px gray;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.grupo-membros{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 442px;
    width: 94%;
    background-color: rgb(12, 7, 56);
    padding: 50px;
}

.card-membros{
    display: flex;
    height: 80%;
    justify-content: space-around;
    width: 80%;
    background-color: white;
    border-radius: 70px;
    align-items: center;
}

.card-esquerdo{
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 7, 56);
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-direito{
    height: 269px;
    width: 450px;
    background-image: url("./imagens/gato2.png");
    background-size: cover;
    border-radius: 50px;
}

.card-conterni {
    height: 1280;
    margin-top: 148px;
    display: flex;
    justify-content: center;
    margin: 184px 60px 0px 60px;

}

.card-cachorro2 {
     width: 40%;
}

.card-cachorro2 img{
    height: 800px;
    width: 110%;
    border-radius: 20px;
}

.card-texto {
    margin: 0px;
    font-size: 24px;
    width: 50%;
    margin-left: 50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card-texto h3, p{
    color: #5c5c5c;
}

.rodape{
    background-color: rgb(12, 7, 56);
}

.rodape-titulo{
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.rodape-titulo h1{
    padding: 50px 0px 50px 0px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rodape-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-pesquisa input{
    width: 384px;
    height: 50px;
    background-color: rgb(12, 7, 56);
    border: 1px solid #ffffff;
    border-radius: 10px;
    outline: none;
    color: #c4c4c4;
    font-size: 24px;
    padding-left: 20px;
}

.botao-assinar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 58px;
    background-color: #edc154;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
}

.botao-assinar p{
    font-size: 24px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.rodape-menu{
    margin-top: 50px;
}

.rodape-grupo-menu{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.grupo-itens ul{
    display: flex;
    margin-bottom: 0px;
}

.grupo-itens li{
    margin: 20px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    cursor: pointer;
}

.rodape-linha{
    margin-top: 0px;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    width: 100%;
}

.rodape-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #ebc154;
    fill:#ffffff;
    margin: 25px;
    cursor: pointer;
}

.icon svg{
    height: 50px;
    width: 50px;
}