body{
    margin: 0px;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: rgb(12, 7, 56);
    color:white;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
}

#cabecalho h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#cabecalho p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(60, 29, 131);
    text-decoration: underline overline;
    cursor: pointer;
}

.pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input{
    height: 100%;
    width: 50%;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.titulo-card p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 140px;
}

.card-grupo{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card-pet{
    width: 300px;
    height: 400px;
    border-radius: 34px;
    background-size: cover;
}


.card-pet p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 20px;
    padding-top: 280px;
}

.card-pet:hover{
    box-shadow: 17px 11px 45px -2px gray;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}

.grupo-membros{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 442px;
    width: 100%;
    background-color: rgb(12, 7, 56);
    padding: 50px;
}

.card-membros{
    display: flex;
    height: 80%;
    justify-content: space-around;
    width: 80%;
    background-color: white;
    border-radius: 70px;
    align-items: center;
}

.card-esquerdo{
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: white;
}

.card-direito{
    height: 269px;
    width: 450px;
    background-image: url("./imagens/gato2.png");
    background-size: cover;
    border-radius: 50px;
}

.informaçoes-do-cao{
    height: 1200px;
    width: 100%;
}

.informaçoes-ld-esquerdo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 400px;
    width:43%;
    font-size: 31px;
}

.informaçoes-ld-esquerdo p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 0px;
    width:46%;
    font-size: 28px;
}